<!DOCTYPE html>
<html lang="en">
<head>
    <title>Resume - Johnray M. De Luna</title>
    <link rel='stylesheet' type="text/css" href="static/pico.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='me.ico') }}">
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><strong>Johnray M. De Luna</strong></li>
        </ul>
        <ul>
            <li><a href="#about">About Me</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="#projects">Projects</a></li>
        </ul>
    </nav>

    <main class="container">
        <div class="grid">
            <section>
                <hgroup>
                    <h2>Johnray M. De Luna</h2>
                    <h3 id="portfolio">portfolio</h3>
                </hgroup>
                <figure>
                    <img src="https://i.imgur.com/1k7denI.png" alt="Johnray M. De Luna" style="width:150px; border-radius:50%;" />
                </figure>
                <p><strong>Location:</strong> Caloocan, Philippines</p>
                <p><strong>Phone:</strong> 09355618179</p>
                <p><strong>Email:</strong> jdeluna@nbi.gov.ph, johnraydeluna@gmail.com</p>
                <p><strong>Facebook:</strong> <a href="https://www.facebook.com/Foomz.Cuteness/">Foomz.Cuteness</a></p>
                <p><strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/johnray-de-luna-a4a892301/">Johnray De Luna</a></p>
                <h3 id="about">Professional Summary</h3>
                <p>Highly skilled and dedicated IT professional with over 5 years of experience in technology infrastructure management and cybercrime investigation. Demonstrated expertise in monitoring and maintaining critical data center infrastructure to ensure optimal performance and reliability, as well as conducting comprehensive cybercrime investigations. Proficient in utilizing advanced forensic tools for digital evidence collection and analysis. Adept at identifying cybercrime patterns and trends to develop proactive security measures. Strong ability to prepare detailed reports for legal proceedings and stay current with evolving cyber threats and vulnerabilities. Proven track record in enhancing organizational security posture and supporting law enforcement initiatives.</p>
                
                <h3 id="skills">Technical Skills</h3>
                <ul>
                    <li>Hardware</li>
                    <li>Microsoft Office</li>
                    <li>Troubleshoot</li>
                    <li>Linux, Mac OS, Windows</li>
                    <li>Open-Source Intelligence</li>
                    <li>VAPT</li>
                    <li>WebApps / CMS</li>
                    <li>Forensics</li>
                    <li>Network</li>
                    <li>Virtualization: VMware, Hyper-V, VirtualBox</li>
                    <li>Programming Languages: Python, SQL, Bash</li>
                    <li>Databases: MySQL, Microsoft SQL Server, Sqlite</li>
                    <li>Cloud: AWS, Azure, GCP</li>
                    <li>Machine Learning: Matplotlib, Computer Vision, OpenCV</li>
                    <li>Tools: Visual Studio Code</li>
                </ul>

                <h3 id="experience">Employment History</h3>
                <h4>Project Worker, at National Bureau of Investigation, Regional District Offices – Investigation Services</h4>
                <p><em>March 2024 – Present</em></p>
                <ul>
                    <li>Provided administrative support for NBI operations, including data entry, filing, and handling sensitive correspondence.</li>
                </ul>
                <h4>National Bureau of Investigation, Technology Infrastructure Division</h4>
                <p><em>October 2022 – February 2024</em></p>
                <ul>
                    <li>Monitored and maintained the hardware, software, and network infrastructure of the data center to ensure optimal performance and reliability for NBI Clearance Biometric System.</li>
                </ul>
                <h4>National Bureau of Investigation, Cybercrime Division</h4>
                <p><em>July 2018 – September 2022</p></em>
                <ul>
                    <li>Conducted detailed investigations into cybercrime incidents, including data breaches, hacking attempts, and online fraud, while preparing comprehensive reports and documentation of investigative findings for use in legal proceedings. Identified patterns and trends in cybercrime activities to aid in the development of proactive security measures and stayed updated on the latest cyber threats, attack vectors, and security vulnerabilities.</li>
                </ul>
                <h4>On the Job Training, National Bureau of Investigation, Digital Forensics Laboratory</h4>
                <p><em>March 2018 – June 2018</em></p>
                <ul>
                    <li>Utilized advanced forensic tools and techniques to collect, preserve, and analyze digital evidence after operations, which was subsequently used in court hearings.</li>
                </ul>

                <h3 id="education">Education</h3>
                <h4>Bachelor of Criminology, Criminal Justice of Colleges, Tunasan, Muntinlupa City</h4>
                <p><em>January 2019 – March 2022</em></p>
                <h4>Bachelor of Computer Engineering, Gardner College, Diliman Quezon City</h4>
                <p><em>January 2015 – January 2019</em></p>
                <h4>Llano High School, De Mundo Village, Caloocan City</h4>
                <h4>Llano Elementary School, Llano Road, Caloocan City</h4>

                <h3 id="projects">Projects</h3>
                <ul>
                    <li>People Search Engine</li>
                    <li>Facial Recognition Search</li>
                </ul>
            </section>
        </div>
    </main>

    <section aria-label="Subscribe example">
        <div class="container">
            <article>
                <hgroup>
                    <h2>Stay Updated</h2>
                    <h3>Subscribe to my newsletter</h3>
                </hgroup>
                <form class="grid">
                    <input type="text" id="firstname" name="firstname" placeholder="First Name" aria-label="First Name" required />
                    <input type="email" id="email" name="email" placeholder="Email Address" aria-label="Email Address" required />
                    <button type="submit" onclick="event.preventDefault()">Subscribe</button>
                </form>
            </article>
        </div>
    </section>

    <footer class="container">
        <small><a href="#about">About Me</a> • <a href="#contact">Contact</a></small>
    </footer>
</body>
</html>
